<div class="footer_box"><!--footer start-->
 <div class="footer_box_inn">

   <div class="container">
    <div class="row" >
      <div class="col-lg-8 col-md-7" >
       <div class="footer_menu">
         <ul>
           <li><a href="careers.html">Careers  </a></li>   
           <li><a href="faq.html"> FAQ    </a></li>     
           <li><a href="blog.html"> Blog    </a></li>     
           <li><a href="">Press    </a></li>    
           <li><a href="contact.html">   Contact Us</a></li>   
         </ul>
       </div>

       <div class="copyright_b">Copyright 2016 Shipper Hero Inc.</div>
     </div>
     <div class="col-lg-4 col-md-5">
       <div class="footsocial">

         <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
         <a href="#" target="_blank"> <i class="fa fa-twitter"></i> </a>
         <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
         <a href="#" target="_blank"><i class="fa fa-google-plus"></i> </a>
         <a href="#" target="_blank">	<i class="fa fa-envelope-o"></i> </a>
         <a href="#" target="_blank"><i class="fa fa-comment"></i> </a>
         <a href="#" target="_blank">	<i class="fa fa-share-alt"></i> </a>
       </div>
     </div>
   </div>
 </div>
</div>
</div><!--footer end-->