<div class="modal-body">
  <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
  <h4 class="modal-title confirm-title">CONFIRMATION</h4>
  <p>Are you sure you want to proceed?</p>
  <p>This will pause the progress and notify the carrier.</p>
  <div class="text-center">            
    <a href="" class="action-button" ng-click="close()">CANCEL</a>
    <a href="" class="action-button"data-toggle="modal"  ng-click="pauseRequest()">CONTINUE</a>
  </div>
</div>